*{
    box-sizing: border-box;
}
body{
    width: 120vh;
    margin: 0 auto;
}
header{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    max-width: 1280px;
    width: 100%;
    margin: 40px auto;


}
.nav{
    display: inline-flex;
    flex-direction: row;
    
}
.navItem{
    text-decoration: none;
    list-style: none;
    margin: 0 15px;

}
.navItem a{
    text-decoration: none;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
     color: #252A34;
}
#log{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FF2E63;
}
#reg{
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;
}
#regButon{
    display: inline-block;
    background: #FF2E63;
    border-radius: 5px;
    width: 110px;
    height: 40px;
    text-align: center;
}
.nav2{
    display: inline-flex;
    flex-direction: row;
    align-items:center
}
.firstImg{
    position: relative;
}
.col{
    position: absolute;
    width: 445px;
    height: 494px;
    left: 689px;
    top: 115px;
    border-radius: 50%;
    background: linear-gradient(131.47deg, rgba(52, 108, 217, 0) 13.96%, rgba(52, 108, 217, 0.25) 85.97%);
}
.firstImgItem{
    position: absolute;
    width: 882.51px;
    height: 372.58px;
    left: 342.49px;
    top: 199.06px;
}
.firstText{
    position: absolute;
    width: 448.9px;
    height: 129.68px;
    left: 55px;
    top: 125px;
    font-family: Rajdhani, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    color: #343434;
}
.firstText span{
    color: #FF2E63;

}
.firstButon{
    position: absolute;
    width: 162px;
    height: 49.4px;
    left: 56px;
    top: 362px;
    background: #346CD9;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}
.firstButon span{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}
h1{
    font-family: Rajdhani, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    color: #343434;
}
.conteiner2{
    margin: 100vh 0;
    width: 100%;
}
.avtoMag{
    display: inline-flex;
    flex-direction: row;
    flex-basis: auto;
    width: 100%;
    
}
.magCol{
    display: inline-flex;
    flex-direction: column;
    margin: 1%;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 25%;

}
.magBut{
    position: absolute;
    width: 40px;
    height: 46px;
    right: 0;
    bottom: 0;
    background: #346CD9;
    border-radius: 10px 0px;
    color: white;
    font-size: 30px;
    text-align: center;
}
.magNam{
    font-family: Rajdhani, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #252A34;
    margin-left: 20px;
}
.magPrice{
    font-family: Rajdhani, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    color: #FF2E63;
    margin-left: 20px;
}
.magPrice span{
    font-family: Rajdhani, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-decoration-line: line-through;
    color: #999999;
    
}
.magText{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #343434;
    margin-left: 20px;
}