*{
    box-sizing: border-box;
}
body{
    font-family: Open Sans, sans-serif;
    margin: 0;
}
.conteiner{
    max-width: 1170px;
    margin: 0 auto;
}
.header{
    padding: 20px 0;
}
.header__body{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header__nav{
    display: inline-flex;
    flex-direction: row;
    padding: 0;
    
}
.nav__item{
    text-decoration: none;
    list-style: none;
    margin: 0 15px;

}
.nav__item a{
    text-decoration: none;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
     color: #252A34;
}
.nav__item a:hover{
    text-decoration: underline #FF2E63;;
}
.item__log a{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FF2E63;
}
.item__reg a{
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;
}
#regButon{
    display: inline-block;
    background: #FF2E63;
    border-radius: 5px;
    width: 110px;
    height: 40px;
    text-align: center;
}
.nav__nav2{
    display: inline-flex;
    flex-direction: row;
    align-items:center
}
.first{
    padding: 140px 0 0 0;
}
.first_body{
    width: 100%;
    position: relative;
    height: 80vh;
}
.first__col{
     position: absolute;
    width: 445px;
    height: 494px;
    right: 80px;
    bottom: 300px;
}
.col{
   width: 100%;
   height: 100%;
    border-radius: 50%;
    background: linear-gradient(131.47deg, rgba(52, 108, 217, 0) 13.96%, rgba(52, 108, 217, 0.25) 85.97%);
}

.first__img-div{
    position: absolute;
    max-width: 882px;
    right: 0;
    bottom: 360px;
    padding-left: 100px;
    
}

.first__img{
    width: 100%;    
}
.first__text{
    position: absolute;
    width: 448.9px;
    height: 129.68px;
    left: 0;
    top: 0; 
    font-family: Rajdhani, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    color: #343434;
}
.first__text span{
    color: #FF2E63;

}
.firstButon{
    position: absolute;
    width: 162px;
    height: 49.4px;
    left: 0;
    top: 230px;
    background: #346CD9;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}
.firstButon span{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}
.title{
    font-family: Rajdhani, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    color: #343434;
}
.popular{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular__direct a{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FF2E63;
    text-decoration: none;
    
}
.popular__direct img{
    margin: 0 10px;
    text-align: center;
}

.latest__body{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;

    
}
.magCol{
    display: inline-flex;
    flex-direction: column;
    margin: 10px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    
    flex: 1 1 23%

}
.magBut{
    position: absolute;
    width: 40px;
    height: 46px;
    right: 0;
    bottom: 0;
    background: #346CD9;
    border-radius: 10px 0px;
    color: white;
    font-size: 30px;
    text-align: center;
}
.magNam{
    font-family: Rajdhani, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #252A34;
    margin-left: 20px;
    flex-grow: 1;
    margin: 20px;
}
.magPrice{
    font-family: Rajdhani, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    color: #FF2E63;
    margin-left: 20px;
}
.magPrice span{
    font-family: Rajdhani, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-decoration-line: line-through;
    color: #999999;
    
}
.magText{
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #343434;
    margin-left: 20px;
}

.how{
    margin: 100px 0;
}
.how__body{
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;
    

}
.how__title{
text-align: center;
}
.how__col{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 23%;
    margin: 60px 0;
    
}
.how__row{
    position: absolute;
    left: 23%;
    top: 28%;
}
.how__row2{
    position: absolute;
    left: 49%;
    top: 28%;
}
.how__row3{
    position: absolute;
    left: 73%;
    top: 28%;
}

.col__title{
    margin: 30px 0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #343434;
}
.col__text{
    font-family: Open Sans;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
text-align: center;
color: #343434;
}
.danny{
    background: rgba(52, 108, 217, 0.12);
}
.danny__body{
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    
}
.danny__text{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;

}
.text__title{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #343434;
    max-width: 400px;
    
}
.text__name{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #343434;
    margin: 30px 0;

}
.danny__img img{
    width: 100%;
}
.danny__img{
    max-width: 640px;
}
.articles{
    margin: 100px 0 ;
}
.articles__body{
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    
}
.articles__row{
    background: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
.row__name{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    margin: 20px;
}
.row__text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    margin: 20px;
}
.footer{
    background: #346CD9;
    margin: 0 auto;
    width: 100%;
    height: 70px;
    
}
.footer__body{
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    align-items: center;
}
.footer__logo{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer__nav a{
    color: #FFFFFF;
}
.auto2{
    margin: 90px 0;
    position: relative;
}
.auto2__body{
    display: flex;
    
}
.menu{
    flex: 1 0 auto;
    align-self:flex-start;
    position: sticky;
    top: 0;
}
.menu__brands{
    background: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    max-width: 270px;

}
.menuTitle{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.2px;
    color: #252A34;
}
.price{
    padding: 20px;
    position: relative;
}
.price__item{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    font-size: 14px;
    line-height: 19px;
    color: #999999;
}
.price__item2{
    padding: 0 10px 6px;
    align-self:flex-end;
}
.price__item input {
    height: 35px;
    width: 100px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.price__title{
    padding: 7px 0 10px 0px;
    display: block;
    background: url(../imeg/auto/icon/Vector4.png) right no-repeat;
    
}
.price__toggle:hover + .price__title{
    text-decoration: underline  #FF2E63;
}
.price__body{
    display: flex;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
}
.price__toggle{
    position: absolute;
    top: 30px;
    left: 15px;
    opacity: 0;
    width: 100%;
    height: 1.5em;
    cursor: pointer;
}
.price__toggle:checked ~ .price__title{
    background: url(../imeg/auto/icon/Vector3.png) right no-repeat;
}
.price__toggle:checked ~ .price__body{
    max-height: 100px;
    transition: all 0.5s;
}
.brands__marks{
    display: flex;
    flex-direction: column;
    margin: 0  ;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s;
}
.marks__checkbox{
    width: 20px;
    height: 20px;
    background: url(../imeg/auto/icon/Checkbox-none.png);
    transition: all 0.5s;
}
.checkbox__input{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.checkbox__input:checked + .marks__checkbox{
    background: url(../imeg/auto/icon/Checkbox.png);
    transition: all 0.5s;
}
.marks__col{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.col__name{
    padding: 0 0 0 15px;
    flex: 1 1 auto;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 14px;
    line-height: 28px;
    color: #252A34;
    cursor: pointer;
}
.col__name label{
    cursor: pointer;
}
.col__num{
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #999999;
}
.inectiv{
    font-size: 14px;
    line-height: 28px;
    color: #999999;
}
.brands{
    position: relative;
    padding: 20px;
    
}
.brands__toggle{
    position: absolute;
    top: 22px;
    left: 15px;
    opacity: 0;
    width: 100%;
    height: 1.5em;
    cursor: pointer;
}
.brands__toggle:checked ~ .brands__marks{
    max-height: 300px;
    transition: all 0.5s;
}
.brands__toggle:checked ~ .brands__title{
    background: url(../imeg/auto/icon/Vector3.png) right no-repeat;
}
.brands__contact{
    padding: 55px 20px 20px 20px;
}
.brands__title{
    display: block;
    width: 100%;
    background: url(../imeg/auto/icon/Vector4.png) right no-repeat;
}
.brands__toggle:hover + .brands__title{
    text-decoration: underline  #FF2E63;
}
.contact__title{
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.2px;
    color: #1C1C1C;
}
.contact__text{
    font-size: 14px;
    line-height: 28px;
    color: #252A34;
    margin: 8px 0;
}
.contact__text span{
    font-weight: 600;
}
.contact__text a{
    color: #252A34;
    text-decoration: none;
}
.contact__text a:hover{
    text-decoration: underline  #FF2E63;;
}
.search{
    padding: 20px 0 30px 20px;
}
.search__title{
    padding-bottom: 11px;
}
.search__input{
    width: 230px;
    height: 35px;
}
.shops{
    max-width: 956px;
}
.shops__name{
    font-weight: bold;
    font-size: 50px;
    line-height: 64px;
    margin: 0 0 20px 30px;
    color: #343434;
}
.shops__body{
    display: flex;
    width: 100%;
    flex-wrap: wrap;

}

.shops__car{
    background: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    flex: 0 1 28%;
    margin: 15px;
}
.car__img{
    max-width: 270px;
}
.car__img img{
    width: 100%;
}
.car__name{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #252A34;
    margin: 20px 0 5px 20px;
}
.car__price{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 20px;
    color: #FF2E63;
    margin: 10px 0 10px 20px;
    
}
.car__price span{
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: line-through;
    color: #999999;

}
.nowSale{
    color: #252A34;
}
.car__title{
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #343434;
    margin: 5px 0 20px 20px;
}
.car__buton{
    height: 40px;
    width: 131px;
    background: #FF2E63;
    border-radius: 5px;
    text-align: center;
    margin: 15px auto 30px;
    
    
    
}
.car__buton span{
    font-weight: 600;
    font-size: 16px;
    line-height: 38px;
    color: #FFFFFF;
    
}
.wrap{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}
.register{
    flex: 1 1 auto;
    margin: 0 auto;
    width: 100%;
}
.regTitle{
    font-family: Rajdhani;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 64px;
    color: #343434;
}
.register__title{
    display: flex;
    justify-content: center;
}
.title__log{
    padding: 0 30px;
}
.title__reg{
    padding: 0 30px;
}