body{
    font-size: 18px;
}
.center{
    text-align: center;
}
#age{
    width: 225px;
}
#cock{
    width: 233px;
}
#lostDate{
    width: 172px;
}
img[tabindex="0"] {
    cursor: zoom-in;
}
.hw{
    height: 250px;
    padding: 20px;
}
img[tabindex="0"]:focus {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    max-width: 99%;
    max-height: 99%;
    margin: auto;
    box-shadow: 0 0 20px #000, 0 0 0 1000px rgba(210, 210, 210, .4);
}

img[tabindex="0"]:focus,
img[tabindex="0"]:focus~* {
    pointer-events: none;
    cursor: zoom-out;
}
 section{
     background-color: burlywood;
 
 }
 h3{
     color: blue;
     text-align: center;
 }
 img.hw:hover{
    opacity: 0.5;
    
 }
 .hwFigma{
     width: 50%;
     border-radius: 20px;
 }
 .hwFigma:hover{
    opacity: 0.5;
 }
 .divFigma{
    text-align: center;
 }