header h1{
    background-color: #a52a2a;
    color: white;
    text-align: center;
}
img{
    width: 100%;
}
body{
    font-size: 18px;
}
.car{
    border: 3px dashed black;
    width: 7%;
    display: line;
}
.center{
    text-align: center;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 20px;
}
.blue{
    color: blue;
    font-weight: bold;
}